.App {
  text-align: center;
  background-color: #333333;
  color: #fff;
  margin: 0;
}

.App button {
  background-color: #29abe2;
  color: #fff;
  border: none;
  border-radius: 0 3px 3px 0;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

.App button:hover {
  opacity: 0.9;
}

.App input {
  border: none;
  border-radius: 3px 0 0 3px;
  outline: none;
  font: inherit;
}

.App ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  color: black;
  margin: 0;
  opacity: 0;
  animation: ani 2s forwards;
}

.icons {
  color: #29abe2;
  cursor: pointer;
}

.item-button {
  padding-top: 10px;
  margin-right: 10px;
}

.todos-container {
  width: 550px;
  background-color: white;
  margin: 50px auto 0;
  border-radius: 16px;
}

.add-todo-input {
  padding: 5px 5px 6px 10px;
}

.open {
  margin-left: 35px;
  padding: 0;
}

.close {
  text-decoration: line-through;
  margin-left: 35px;
  padding: 0;
}

.theme {
  float: right;
  margin-top: 1em;
  cursor: pointer;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
