.App {
  text-align: center;
  background-color: #333333;
  color: #fff;
  margin: 0;
}

.App button {
  background-color: #29ABE2;
  color: #fff;
  border: none;
  border-radius: 0 3px 3px 0;
  padding: 10px;
  cursor: pointer;
  outline: none;
}

.App button:hover {
  opacity: 0.9;
}

.App input {
  border: none;
  border-radius: 3px 0 0 3px;
  outline: none;
  font: inherit;
}

.App ul {
  display: flex;
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: black;
  margin: 0;
}

.icons {
  color: #29ABE2;
  cursor: pointer;
}

.todos-container {
  width: 550px;
  background-color: white;
  margin: 50px auto 0 ;
  border-radius: 16px;
}

.add-todo-input {
  padding: 5px;
  padding-bottom: 6px;
}

.close {
  text-decoration: line-through;
}

.theme {
  float: right;
  margin-top: 1em;
  cursor: pointer;
}